.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #40c4ff;
    /* Turquoise */
    color: white;
}

.logo {
    height: 80px;
    border-radius: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    font-size: 18px;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}